<div *ngIf="work">
  <img
    *ngIf="work.covers && work.covers.length > 0"
    src="https://covers.openlibrary.org/b/id/{{ work.covers[0] }}-L.jpg"
    alt="Picture of the cover of the book."
  />
  <h1>{{ work.title }}</h1>
  <h4 *ngIf="work.first_publish_date">
    Published: {{ work.first_publish_date }}
  </h4>
  <p *ngIf="description()">{{ description() }}</p>
</div>
