div {
  width: 100%;
  height: 50%;
}

.card {
  max-width: 512px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  min-width: 256px;
}
