<div class="center">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Search</mat-card-title>
    </mat-card-header>
    <mat-card-content class="center">
      <mat-form-field appearance="fill">
        <mat-label>Criteria</mat-label>
        <mat-select [(value)]="searchType">
          <mat-option
            *ngFor="let searchType of searchTypes"
            [value]="searchType"
          >
            {{ searchType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput type="search" [(ngModel)]="term" />
        <button
          matSuffix
          mat-icon-button
          aria-label="Search"
          (click)="search()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="search()">SEARCH</button>
    </mat-card-actions>
  </mat-card>
</div>
