<div *ngIf="!searchResponse" class="center">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="searchResponse">
  <mat-card *ngFor="let doc of searchResponse.docs" class="card">
    <mat-card-header>
      <mat-card-title>
        {{ doc.title }}
      </mat-card-title>
      <mat-card-subtitle *ngIf="doc.author_name && doc.author_name.length > 0">
        by {{ doc.author_name[0] }}
      </mat-card-subtitle>
    </mat-card-header>
    <img
      *ngIf="doc.cover_edition_key"
      mat-card-image
      src="https://covers.openlibrary.org/b/olid/{{
        doc.cover_edition_key
      }}-M.jpg"
      alt="Picture of the cover of the book."
      class="image"
    />
    <mat-card-actions>
      <button mat-button [routerLink]="doc.key">SHOW DETAILS</button>
    </mat-card-actions>
  </mat-card>
</div>
